<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @game.creator %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @game.attendees %>
</p>


<%= link_to 'Back', games_path %>
<% if current_user.email == @game.creator %>
  | <%= link_to 'Edit', edit_game_path(@game) %>
  | <%= link_to 'Delete Game', game_path(@game), method: :delete, data: {confirm: "You sure?"} %>
<% else %>
  | <a href="/join/<%=@game.id%>">Join Game</a>
<% end %>
| <a href="/chat">Chat Room</a>
