<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>LetsPlay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Home<span class="sr-only">(current)</span></a>
      </br>
      <% if signed_in? %>
        <%= link_to 'Sign out', sign_out_path, method: :delete%></br>
        Signed in as: <%= current_user.email %>
      <% else %>
        <a href="/sign_in">Sign In<span class="sr-only">(current)</span></a>
      <% end %>

    </header>


    <section>
      <div id="flash", class="col-sm-0">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>

</html>
